{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add item</legend>

        <div class="form-group">
            {{ form.item_url.label(class="form-control-label") }}
            {% if form.item_url.errors %}
            {{ form.item_url(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.item_url.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.item_url(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.current_price.label(class="form-control-label") }}
            {% if form.current_price.errors %}
            {{ form.current_price(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.current_price.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.item_url(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
<ul>
    {% for item in items %}
    <li>
        <a href="{{ item.item_url}}">Link</a>
        <p>Current price: {{ item.current_price }}</p>
        <p>Html-attributes: "{{ item.html_attrs }}"</p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}