{% extends 'base.html' %}
{% block content %}
{% if not current_user.is_authenticated %}
    <h3>Please login to continue...</h3>
{% else %}
    <a class="btn btn-secondary" href="{{ url_for('add_item_for_tracking')}}" role="button">Add new item</a>
    <a class="btn btn-secondary" href="{{ url_for('update_all_user_item_prices')}}" role="button">Update All</a>
    <div class="container">
        <ul>
            {% for item in items %}
            <div class="row">
                <div class="row">
                    <div class="col-md-10">
                        <a href="{{ item.item_url}}">{{ item.title }}</a>
                        <p>Current price: <b>{{ item.current_price }}</b></p>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Manage
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{{ url_for('item_price_chart', item_id=item.id)}}">Chart</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ url_for('update_current_price', item_id=item.id)}}">Update price</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('edit_item', item_id=item.id)}}">Edit</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('delete_item', item_id=item.id)}}">Delete</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}