{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div class="form-group">
            {{ form.title.label(class_="form-control-label") }}
            {% if form.title.errors %}
            {{ form.title(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.item_url.label(class_="form-control-label") }}
            {% if form.item_url.errors %}
            {{ form.item_url(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.item_url.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.item_url(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.current_price.label(class_="form-control-label") }}
            {% if form.current_price.errors %}
            {{ form.current_price(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.current_price.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.current_price(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.min_desired_price.label(class_="form-control-label") }}
            {% if form.min_desired_price.errors %}
            {{ form.min_desired_price(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.min_desired_price.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.min_desired_price(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.max_allowable_price.label(class_="form-control-label") }}
            {% if form.max_allowable_price.errors %}
            {{ form.max_allowable_price(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.max_allowable_price.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.max_allowable_price(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.folder.label(class_="form-control-label") }}
            {% if form.folder.errors %}
            {{ form.folder(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.folder.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.folder(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
{% endblock content %}